
.card-group{
    width: 80rem;
    margin: auto;
    padding-top: 40px;
}
.jumbotron.text-center{
    padding-top: 60px;
    padding-bottom: 30px;
}
.card{
    padding-right: 45px;
    border: none;
    padding-bottom: 20px;
}
.col{
    padding-top: 130px;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
